
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            @Html.Action("ListarDirectoriosAdmin")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>