.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

input[type="text"],
select.form-select {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    /*font-weight: bold;*/
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 0.25rem;
}

.input-group .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

i.fas {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}
.swal2-html-container::-webkit-scrollbar {
    display: none;
}

.swal2-confirm:not([disabled]):not(.swal2-styled)[class*="btn-"],
.swal2-styled[class*="btn-"] {
    background-color: #153d77 !important;
    border-color: #153d77 !important;
    color: #fff !important;
}

.swal2-confirm.btn-lg:not([disabled]):not(.swal2-styled),
.swal2-styled.btn-lg {
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
}

