/******************************INICIO DE LAS CARD************************/
.container__box {
    max-width: 1100px;
    margin: auto;
    /*margin-top: 40px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    background: #fafafa;
    /* background: #212529; */
    /* background-color: rgba(6, 106, 201, 0.1); */
    /* background:#2e373e; */
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

/*-----------colores de las cards------------------*/
.bx-1:hover {
    transform: scale(1.1);
    background: #4caf50;
    z-index: 1;
}

.bx-2:hover {
    transform: scale(1.1);
    background: #e8b600;
    z-index: 1;
}

.bx-3:hover {
    transform: scale(1.1);
    background: #153d77;
    z-index: 1;
}

.bx-5:hover {
    transform: scale(1.1);
    background: #4caf50;
    z-index: 1;
}

.box i {
    font-size: 60px;
    color: #153d77;
}

.box:hover i {
    color: #fff;
    text-decoration: none;
}

.box h5 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #777777;
}

.box:hover h5 {
    color: #fff;
    opacity: 0;
}

.box h4 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #e0e0e0;
    position: absolute;
    bottom: 50px;
    filter: blur(5px);
    opacity: 1;
    text-decoration: none;
}

.box:hover h4 {
    font-size: 14px;
    opacity: 1;
    filter: blur(0px);
    color: #fff;
    transition: all 600ms ease;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.box i {
    text-decoration: none;
}

.box a {
    display: block;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .container__box a {
        width: 100%;
    }
}

/*-----------------------FIN DE LAS CARD----------------------*/
