@model iveCincoFrame.Models.tblpremora

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Create</h2>

                            <div class="row alerta mx-1">
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <div class="alert-message">
                                        <strong>Correcto!</strong> Archivo Cargado
                                    </div>

                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="table-responsive">
                                            <center><h4>ARCHIVO CASOS PRE - MORA</h4></center>
                                            <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                            </div>

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){;
        $('.alerta').hide();

         $("#fotografiaseguimiento").uploadFile({
            url:'@Url.Action("ArchivosPremora", "CargaDeExcel")',
            multiple:false,
            fileName:"file",
            maxFileSize:21048500,
             allowedTypes: "xlsx",
            showProgress: true,
            afterUploadAll:function(dato)
            {
                console.log(dato.responses[0].data.Codigo);
                

                if (dato.responses[0].data.Codigo == 1) {
                    $('#archivo').val(dato.responses[0]);
                    $('#nombreArchivo').val(dato.responses[0].data._FileName);
                    Swal.fire({
                        title: dato.responses[0].data.Mensaje,
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#153d77',
                        cancelButtonColor: false,
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    })
                }
                else
                {
                    Swal.fire({
                        title: dato.responses[0].data.Mensaje,
                        icon: 'error',
                        showCancelButton: true,
                        confirmButtonColor: '#153d77',
                        cancelButtonColor: false,
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    })
                }
               
            }
        });
    });
</script>
