@model IEnumerable<iveCincoFrame.Models.CatServiciosMonitor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">
<style>
    .box {
        border: 1px solid #ccc;
    }

        .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
</style>
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <h2>Servicios Monitor</h2>
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <!-- Knowledge base main category card 1-->
                                    <div class="card box col-6">

                                        <div class="col-auto card-icon-aside p-5" style="background-color: #153d77;"><i class="align-middle me-2 fas fa-fw fa-window-maximize" style="font-size: 3rem; color: #f0f1f3"></i></div>

                                        <div class="">
                                            <div class="card-body">
                                                    <div class="col-4">
                                                        <label>Nombre:</label>
                                                        <h3 class="text-primary mb-2">@item.nombre</h3>
                                                        <div class="btn-group text-start" role="group" aria-label="Basic example">
                                                            <button type="button" class="btn btn-primary">Editar</button>
                                                            <button type="button" class="btn btn-primary">Horarios</button>
                                                            <button type="button" class="btn btn-primary">Eliminar</button>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

