
@{
    ViewBag.Title = "GetDataSorteoError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetDataSorteoError</h2>

<div class="card col-xl-12 col-md-12 col-sm-12 col-lg-12">
    <div class="card-body col-xl-12 col-md-12 col-sm-12 col-lg-12 ">
        @Html.Partial("_MensajeParcial")
    </div>
</div>
