@model iveCincoFrame.Models.SorteoConvivio.GanadorConvivio

<style>
    .claseDelDiv {
        background-image: url("/Content/img/confetti.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="card col-xl-12 col-md-12 col-sm-12 col-lg-12 claseDelDiv">
    <div class="card-body col-xl-12 col-md-12 col-sm-12 col-lg-12 ">
        <div class="text-center">
            <h1>Felicidades!</h1>
            <br />
            <h1>Ganador: <span id="nombre">@Model.nombrecompleto</span></h1>
            <h3>Codigo: <span id="codigoAsociado">@Model.Codigo</span> </h3>
            <h3>Telefono: @Model.Telefono</h3>
        </div>
    </div>
    <div class="container mb-5">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" id="btn-confirmar" class="btn btn-primary btn-lg">Entregar Premio</button>
        </div>
    </div>
</div>
