
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header mb-0">
                <div class="container">
                    <h1 class="fc-toolbar-title text-center">Reporte de Captaciones</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <!--<div class="col-md-6">
                        <label class="small mb-1" for="idCatPuestos">Sucursal</label>
                       

                    <!--</div>-->
                </div>
                <div class="container">
                    <table id="tblCaptaciones" class="table table-striped table-bordered" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <td>Región</td>
                                <td>Agencia</td>
                                <td>Captación Base</td>
                                <td>Captación Al Dia</td>
                                <td>Crecimiento</td>
                                <td>Monto Por Crecer</td>
                                <td>Categoría Meta</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var dataTable;

    $(document).ready(function () {
        loadDataTable();
    });


    function loadDataTable() {
        dataTable = $('#tblCaptaciones').DataTable({

            "ajax": {
                "url": "@Url.Action("Consultar", "Captaciones")",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Region", "width": "20%"},
                { "data": "Agencia", "width": "20%" },
                {
                    "data": "CaptacionBase", "width": "10%",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                        if (parseFloat(sData) > 0) {
                            $(nTd).css('color', 'blue')
                        }
                    }
                },
                { "data": "CaptacionAlDia", "width": "20%",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                        if (parseFloat(sData) > 0) {
                            $(nTd).css('color', 'green')
                        }
                    }
                },
                { "data": "Crecimiento", "width": "10%",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                        if (parseFloat(sData) >0) {
                            $(nTd).css('color', 'green')
                        }
                        else {
                            $(nTd).css('color', 'red')
                        }
                    }
                },
                { "data": "MontoPorCrecer", "width": "10%" },
                { "data": "CategoriaMeta", "width": "10%",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                        if (sData == 'No Aplica') {
                            $(nTd).css('color', 'red')
                        }
                    }

                }
                

            ],
            destroy: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    text: 'Imprimir Reporte',
                    exportOptions: {
                        columns: ':visible',
                    }
                },
                'colvis'
            ],
            columnDefs: [{
                visible: false
            }],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando registros de _START_ al _END_ de un total de  _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "searchPlaceholder": "Buscar registros",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true,
            pageLength: 100
        });
    }
</script>