@model IEnumerable<iveCincoFrame.Models.CatPermisos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header mb-0">
                <div class="container">
                    <h1 class="fc-toolbar-title">Busqueda de Asociados</h1>
                </div>
                <br />
                <div class="container">
                    <div class="input-group">
                        <input type="text"  class="form-control" id="dpi">
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="buscar-asociado" type="button">Buscar</button>
                        </div>
                    </div>
                </div>
                <canvas id="myPieChart" width="639" height="240"
                        style="display: block; width: 639px; height: 240px;" class="chartjs-render-monitor"></canvas>
            </div>
            <div class="card-body">
                <div class="my-5">
                    <!-- Modal Agregar Usuario -->
                    <button type="button" class="btn btn-primary modal-usuario d-none" data-bs-toggle="modal" data-bs-target="#defaultModalPrimary">
                        Primary
                    </button>
                    <div class="modal fade" id="defaultModalPrimary" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-dark">
                                    <h2 class="modal-title text-white">Asociado Encontrado</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body m-3">
                                    <div class="card-body">


                                        <div id="respuestabusqueda"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {


        $('#buscar-asociado').click(function () {
            var asociado = $('#dpi').val();

            var dpi = { "Dpi": asociado };

            if (asociado != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("busquedaAsociado", "Asociados")',
                    data: {
                        dpi: asociado
                    },
                    beforeSend: function (response) {
                    },
                    success: function (response) {

                        if (response == "NotFound") {
                            Swal.fire({
                                icon: 'error',
                                title: 'No encontrado',
                                text: 'Asociado no encontrado'

                            })
                        }
                        else if (response == "unanswered")
                        {
                            Swal.fire({
                                icon: 'error',
                                title: 'Ocurrio un error al realizar la busqueda',
                                text: "Problema de conexion"

                            })
                        }
                        else {
                            $('#respuestabusqueda').html(response);
                            $('#defaultModalPrimary').modal('show');
                        }

                    },
                });
                return false;
            }
            else
            {
                    Swal.fire({
                        icon: 'error',
                        title: 'Campo Vacio',
                        text: 'Ingrese un Dpi valido'
                    })

            }

/*            alert(busqueda);*/




        });

    });

</script>