@model iveCincoFrame.Models.TblAfiliaciones

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body ">
                <div class="card-body ">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                        <div class="">
                                            <h1 class="fc-toolbar-title">Nuevo Zuma</h1>
                                        </div>
                                        @using (Html.BeginForm())
                                        {
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label>Tipo de solicitud</label>
                                                        <div class="form-floating">
                                                            @Html.DropDownList("idCatZuma", null, htmlAttributes: new { @class = "form-select" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="mb-3 col-md-6">
                                                        <label>Fecha de la solicitud</label>
                                                        <div class="form-floating">
                                                            @Html.EditorFor(model => model.fechaSolicitud, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                                                            @Html.ValidationMessageFor(model => model.fechaSolicitud, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" value="Create" class="btn btn-primary">Continuar</button>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

