@model iveCincoFrame.Models.Tc.ArchivoT
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/uploadfile2.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div class="card-header">
                            <h2 class="fc-toolbar-title">Cargar nuevo archivo</h2>
                            <h6 class="card-subtitle text-muted"></h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="table-responsive">
                                        <center><h4>ARCHIVO CASOS MORA</h4></center>
                                        <center><div id="fotografiaseguimiento">Subir Archivo</div></center>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <input type="submit" value="Guardar y Subir Archivo" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.uploadfile.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

         $("#fotografiaseguimiento").uploadFile({
            url:'@Url.Action("UploadFiles")',
            multiple:false,
            fileName:"file",
            maxFileSize:21048500,
            formData: {
                "id_cat_tipos_archivos":1,
            },
            allowedTypes: "txt",
            showProgress: true,
            afterUploadAll:function(dato)
            {
               // location.reload();
               //console.log();
                alert("ARCHIVO CARGADO CON EXITO");
                $('#archivo').val(dato.responses[0]);
            }
        });
    });
</script>