
@{
    ViewBag.Title = "GetArchivos";
    Layout = "~/Views/Shared/_Layaut_Intranet.cshtml";
}
<link href="~/CSS/stylecardsbiblioteca.css" rel="stylesheet">
<link href="~/CSS/searchStyle.css" rel="stylesheet">
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="card-data">
            <div class="card info-body">
                <div class="card-header text-center info-name">
                    <h4 class="text-white pb-4">INFORME EJECUTIVO GASTOS DE REPRESENTACIÓN</h4>
                </div>
                <div class="card-body ifno-general">
                    <h5>Origen: <strong style="color: #153d77 !important;">AUDITORIA INTERNA </strong></h5>
                    <h5>Fecha: <strong style="color: #153d77 !important;">5/06/2023 16:00:00 AM</strong></h5>
                </div>
                <div class="card-footer text-center">
                    <a href="~/archivosBlibioteca/Informe-de-Gastos-de-Representacion (6).docx" target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-5">
        <div class="card-data">
            <div class="card info-body">
                <div class="card-header text-center info-name">
                    <h4 class="text-white pb-4">SOLICITUD DE ANTICIPO DE GASTOS </h4>
                </div>
                <div class="card-body ifno-general">
                    <h5>Origen: <strong style="color: #153d77 !important;">AUDITORIA INTERNA </strong></h5>
                    <h5>Fecha: <strong style="color: #153d77 !important;">5/06/2023 16:00:00 AM</strong></h5>
                </div>
                <div class="card-footer text-center">
                    <a href="~/archivosBlibioteca/SOLICITUD-ANTICIPO-DE-GASTOS (3).xlsx" target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>





    <div class="col-md-6 col-lg-4 mb-5">
        <div class="card-data">
            <div class="card info-body">
                <div class="card-header text-center info-name">
                    <h4 class="text-white pb-4">LIQUIDACION DE GASTOS </h4>
                </div>
                <div class="card-body ifno-general">
                    <h5>Origen: <strong style="color: #153d77 !important;">AUDITORIA INTERNA </strong></h5>
                    <h5>Fecha: <strong style="color: #153d77 !important;">5/06/2023 16:00:00 AM</strong></h5>
                </div>
                <div class="card-footer text-center">
                    <a href="~/archivosBlibioteca/LIQUIDACIONDEGASTOS (3).xlsx" target="_blank" class="btn btn-primary btn-lg" style="background: #0c4899 !important;">Descargar Aqui <i class="align-middle me-2 fas fa-fw fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>






</div>