@model IEnumerable<iveCincoFrame.Models.CatTiposTableros>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/CSS/StylePunteosTablerosHome.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=DM+Sans:ital,wght@0,500;1,400&family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
<main class="content">
    <div class="container-fluid">

        <div class="row mt-n3">
            <div class="col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto position-relative">
                <h1 class="text-center header-title">Punteo para los tableros</h1>
                <p class="lead text-center mb-4 header-subtitle">Seleccione el tablero que desea configurar</p>
                <hr />
            </div>
        </div>
    </div>
    <div class="my-0 mx-0 px-0" id="items-tableros">

        <div class="container__box row">

            @foreach (var item in Model.OrderBy(x => x.orden))
            {
            <div class="col-12 col-md-3 mb-3 mt-0">
                <a href="@Url.Action("Orden", "TblPunteosProductosTableros", new { idCatTiposTableros = item.idCatTiposTableros})">
                    <div class="box @item.background">
                        <i class="@item.icono"></i>
                        <h5 class="font-weight-bold">@item.descripcion</h5>
                    </div>
                </a>
            </div>
            }

        </div>
    </div>
</main>




