
@model IEnumerable<iveCincoFrame.Models.Captaciones.GetCumpleanosObj>
@{

    Layout = null;
}
<link href="~/CSS/stylecumpleanos.css" rel="stylesheet">


@if (Model.Count() == 0)
{
    <link href="~/CSS/stylecalendar.css" rel="stylesheet">
    <div class="container">
        <div class="calendar">
            <div class="calendar-body">
                <span class="month-name">Month</span>
                <span class="day-name">Day</span>
                <span class="date-number">00</span>
                <span class="year">0000</span>
            </div>
        </div>
    </div>

    <script>
        const dayNumber = new Date().getDate();
        const year = new Date().getFullYear();
        const dayName = new Date().toLocaleString('es-ES', { weekday: "long" });
        const monthName = new Date().toLocaleString('es-ES', { month: "long" });

        document.querySelector(".month-name").innerHTML = monthName[0].toUpperCase() + monthName.substring(1);
        document.querySelector(".day-name").innerHTML = dayName;
        document.querySelector(".date-number").innerHTML = dayNumber;
        document.querySelector(".year").innerHTML = year;
    </script>
}
else
{
    foreach (var item in Model)
    {

        <div class="container">
            <div class="card card-data" id="item-cumplea">
                <div class="card-body cumple-body">
                    <div class="row">
                        <div class="col-7">
                            @*<h5 class="card-title">@item.NombreCompleto</h5>*@
                            <h5 class="card-title cumple-name">@item.NombreCompleto</h5>
                        </div>
                        <div class="col-5">
                            <img src="https://app.cooitza.com.gt/Images/Seguridad/Usuarios/@item.Imagen" class="card-img-top rounded" alt="..." style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);">
                        </div>
                        <div class="row">
                            <p class="card-text">¡Feliz cumpleaños! Que en este día tan especial, Dios te bendiga con mucha felicidad. Que en la vida siempre encuentres razones para sonreír y dar gracias.</p>
                        </div>
                        <div class="row">
                            @if (!string.IsNullOrEmpty(item.Telefono))
                            {
                                <a class="btn btn-success mt-3" target="_blank" href="https://wa.me/@item.Telefono"><i class="align-middle me-2 fab fa-fw fa-whatsapp"></i>Felicita por esta via</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    }
}
