
@{
    ViewBag.Title = "Seguros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/Content/img/principal.png" alt="Cooitza" class="img-fluid" />
                                </div>

                                <div class="col-6">
                                    <br />
                                    <center>
                                        <h1>SEGUROS DE COLABORADORES</h1>
                                    </center>
                                </div>
                                <div class="col-4">
                                    <img src="~/Content/img/chn.png" alt="Cooitza" class="img-fluid" />
                                </div>
                                <div class="col-12">
                                    <hr />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">

                                </div>
                                <div class="col-3">
                                    <p>

                                        <a href="@Url.Action("IndexUsuario/1", "TblDeclaracionConcentimientolgs")" role="button">
                                            <img src="~/Content/img/chn11.png" alt="Cooitza" class="img-fluid" />
                                        </a>
                                    </p>


                                </div>


                                <div class="col-3">
                                    <p>
                                        <a href="@Url.Action("IndexUsuario/1", "TblDeclaracionSaludchnlgs")" role="button">
                                            <img src="~/Content/img/cnh222.png" alt="Cooitza" class="img-fluid" />
                                        </a>
                                    </p>


                                </div>
                                <div class="col-3">

                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

