
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">
                        <div id="transac-caracteristicas">
                            @Html.Action("CaracteristicasIndex")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '#agregar', function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AgregarCaracteristicas", "TblCaracteristicasGrabacion")',
                data: {
                    id: 1
                },
                beforeSend: function (response) {
                },
                success: function (response) {
                    //console.log(response);
                    $('#transac-caracteristicas').html('');
                    $('#transac-caracteristicas').html(response);
                },
            });
            return false;
        });

        $(document).on('click', '#editar-caracteristicas', function () {
            var codigo = $(this).attr('codigo');
            //alert(codigo);

            var dataUsr = {
                "id": codigo
            };

            $.ajax({
            type: 'POST',
            url:  '@Url.Action("EditarCaracteristicas", "TblCaracteristicasGrabacion")',
                data: dataUsr,
            beforeSend: function (response) {
            },
                success: function (response) {
                    $('#transac-caracteristicas').html('');
                    $('#transac-caracteristicas').html(response);
            },
            });
        });
    });
</script>
