@model IEnumerable<iveCincoFrame.Models.TblFacturasXcatRubros>


<div class="container border mt-2" id="containerHeader">
    <div class="divider-custom1">
        <div class="divider-custom-line"></div>
        <h2>Rubros </h2>
        @*<span><i class="fa-solid fa-car"></i></span></h2>*@
        <div class="divider-custom-line"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="tbl-rubros" width="100%" cellpadding="0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th>
                        Rubro
                    </th>
                    <th>
                        Detalle
                    </th>
                </tr>
            </thead>
            @{var iterador = 1;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@iterador</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatRubros.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.detalle)
                        </td>
                    </tr>
                    iterador++;
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#tbl-rubros').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de MAX total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true
        });

            });
</script>

