@{
    Layout = null;
}
<style>
.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  color: #2F4E72;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #2F4E72;
}

section .row {
  margin-bottom: 10px !important;
  background: #e9f0ff !important;
  list-style: none !important;
  padding: 15px 20px !important;
  border-radius: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

section .row i {
  color: #2F4E72;
  font-size: 30px;
}

section .details span {
  font-size: 14px !important;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #2F4E72;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
}

</style>
<link href="~/CSS/StyleUpload.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container-drop">
    <div ondrop="dropHandler(event)" ondragover="dragOverHandler(event)" class="row borders rounded-3 m-2 p-5 gap-2">
        <span class="material-symbols-outlined">upload_file</span>
        <label class="text-center p-0 m-0 fs-3 fw-bold" for="uploadFile">Arrastra y suelta el archivo aquí</label>

        <div class="col-12 text-center">
            <label class="txt-color pb-2">Archivos Soportados: pdf </label>
            <input type="file"
                   class="form-control"
                   name="uploadFile"
                   id="uploadFile" accept=".PDF, .pdf" />
            <label class="txt-color pt-2">Tamaño máximo de archivo: 15 MB</label>
        </div>
        <div class="col-12 text-center">
            @Html.DropDownList("idCatDocumentosConvocatorias", ViewBag.idCatDocumentosConvocatorias as SelectList, "Seleccione una opción", new { @class = "form-select", @required = "required" })
        </div>
        <div class="col-12 text-center">
            <section class="uploaded-area"></section>
        </div>
    </div>
</div>
<div class=" row mx-1">
    <button class="btn btn-primary btn-lg" id="enviar-Solicitud" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #153d77;">Cargar Archivo</button>
</div>

