
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="my-3">

                        <div id="transac-directorios" class="col-12">

                            <div class="container text-center">
                                <h1 class="text-primary" style="color: #0c4899 !important;">Imagenes Intranet</h1>
                                <hr />
                            </div>
                            <div class="d-flex justify-content-center justify-content-md-start">

                                <div class="mb-3"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "TblMigracions")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #0c4899 !important;"><i class="align-middle me-2 fas fa-fw fa-plus"></i>Nuevo Registro</button></div>
                            </div>
                            @Html.Partial("_MensajeParcial")
                            <div class="row alerta mx-1">
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <div class="alert-message">
                                        <strong>Correcto!</strong> Archivo Cargado
                                    </div>

                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>