



        <h1 class="text-primary">Agrega un nuevo Usuario</h1>
        <p class="lead mb-4">Realiza la busqueda por medio del usuario del colaborador</p>
        <div class="shadow rounded">
            <div class="input-group input-group-joined input-group-joined-xl border-0">
                <input class="form-control me-0" type="text" id="usuario-texto" placeholder="Buscar Usuario..." aria-label="Search" autofocus="">
                <button type="button" class="btn btn-primary" id="buscar-colaborador">Buscar Colaborador</button>
            </div>
        </div>

