@model IEnumerable<iveCincoFrame.Models.Usuarios.RespuestaListarAccesos>


<ul class="sidebar-nav">
    <li class="sidebar-item">
        <a class="sidebar-link" href="~/Home/Index">
            <i class="align-middle me-2 fas fa-fw fa-home"></i> <span class="align-middle">Inicio</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="~/TableroGerencial/Home">
            <i class="align-middle me-2 fas fa-fw fa-grip-horizontal"></i> <span class="align-middle">Tableros Cooitzá</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="~/Home/Biblioteca">
            <i class="align-middle me-2 fas fa-fw fa-atlas"></i> <span class="align-middle"> Biblioteca Cooitzá</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a data-bs-target="#FormulariosCHN" data-bs-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle me-2 fas fa-fw fa-file-contract"></i> <span class="align-middle">Seguros CHN</span>
        </a>
        <ul id=FormulariosCHN class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Home/Seguros"><i class="align-middle me-2 fas fa-fw fa-user"></i> Colaboradores</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Home/SegurosAsociadosFundadores"><i class="align-middle me-2 fas fa-fw fa-user-shield"></i> Fundadores</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="~/TblDeclaracionConcentimeintoBusqueda/Seguros"><i class="align-middle me-2 fas fa-fw fa-address-card"></i> Afiliacion por DPI</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="~/TblDeclaracionConcentimeintoBusqueda/Index"><i class="align-middle me-2 fas fa-fw fa-align-justify"></i> Listado de Formularios</a>
            </li>
        </ul>
    </li>

    @foreach (var item in Model)
    {
        <li class="sidebar-item">
            <a data-bs-target="#@Html.DisplayFor(modelItem => item.Tarjet)" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="@Html.DisplayFor(modelItem => item.IconoModulo)"></i> <span class="align-middle">@Html.DisplayFor(modelItem => item.TituloModulo)</span>
            </a>
            <ul id=@Html.DisplayFor(modelItem => item.Tarjet) class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                @foreach (var elemento in item.SubModulosRol)
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/@elemento.Controlador/@elemento.Accion"><i class="@elemento.IconoSubModulo"></i> @elemento.TituloSubModulo</a>
                    </li>
                }
            </ul>
        </li>
    }
    <li class="sidebar-item">
        <a class="sidebar-link" href="~/Login/Logout">
            <i class="align-middle me-2 fas fa-fw fa-door-open"></i> <span class="align-middle">Cerrar Sesion</span>
        </a>
    </li>
</ul>